<!-- HTML Template -->
<div class="topcoat-tab-bar" style="z-index:1000;">
  <label class="topcoat-tab-bar__item">
    <input id="setuptab" type="radio" name="tab-bar-b">
    <button class="topcoat-tab-bar__button gotocities">
      <i class="fa fa-2x fa-gears"></i>
      <div class="onsen_tab-bar__label">Cities</div>
    </button>
  </label> 
  <label class="topcoat-tab-bar__item">
    <input id="clientlisttab" type="radio" name="tab-bar-b">
    <button class="topcoat-tab-bar__button gotousers">
      <i class="fa fa-2x fa-users"></i>
      <div class="onsen_tab-bar__label">Users</div>
    </button>
  </label> 
  <label class="topcoat-tab-bar__item">
    <input id="vmotab" type="radio" name="tab-bar-b">
    <button class="topcoat-tab-bar__button gotohome">
      <i class="fa fa-2x fa-camera"></i>
      <div class="onsen_tab-bar__label">Home</div>
    </button>
  </label> 
</div>
