<!-- HTML Template -->
<div class="navigation-bar" style="position: fixed;">
  <div class="navigation-bar__left">
    <span id="menu-navigation" class="icon-button--quiet navigation-bar__line-height">
      <i class="fa fa-bars" style="font-size:20px"></i>
    </span>
  </div>

  <div class="navigation-bar__center">
    <h1 class="navigation-bar__title">Home</h1>
  </div>

  <div class="navigation-bar__right">
    <span class="icon-button--quiet navigation-bar__line-height">
    </span>
  </div>
  <div id="header-alert" class="navbar-fixed-top alert alert-success col-md-7 navbar-button" style="display:none;"></div>
</div>


<div class="snap-drawers" style="top:44px;">
    <div class="snap-drawer snap-drawer-left">
            <h4><a class="newclient-link" href="#home">
              <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Home</a></h4>
            <h4><a class="clienthelp-link" href="#users">
              <i class="fa fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Users Index
            </a></h4>
            <h4><a class="clienthelp-link" href="#cities">
              <i class="fa fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Cities Index
            </a></h4>
    </div>
    <div class="snap-drawer snap-drawer-right"></div>
</div>